aiofiles==22.1.0
aiosqlite==0.18.0
async-timeout==4.0.2
asyncua==1.0.1
bleak==0.19.5
cffi==1.15.1
cryptography==38.0.4
dbus-fast==1.75.1
numpy==1.23.3
psutil==5.9.2
pycparser==2.21
python-dateutil==2.8.2
pytz==2022.7
pyudev==0.24.0
pyusb==1.2.1
seabreeze==2.0.3
six==1.16.0
sortedcontainers==2.4.0
urllib3==1.26.13
wasatch==2.1.2
